h3 {
    color: #fff8f0;
    box-shadow: 3px 3px 4px red;
    margin: auto;
    display: inline-block;
    width: 95%;
    transition: all 1s ease-in-out;
}

h3:hover, h3:active {
    box-shadow: -3px -3px 4px red;

}

h5 {
    color: #fff8f0;
}

.icon-container {
    display: flex;
}

.icon-container p {
    margin: 1.5rem 0px;
}

.post-icon {
    font-size: 1.5rem;
    margin: 1.5rem;
}

.post-icon:nth-child(3) {
    margin-right: 0.6rem;
}

.post-icon:nth-child(5) {
    margin-left: 0.6rem;
}

img {
    border-radius: 20px;
    width: 95%;
    margin: 0 2.5%;
    padding: 0;
}

hr {
    border-top: #fff8f0 solid 1.5px;
    border-radius: 1px;
    
}