.head-wrapper {
    grid-area: searchBar;
    display: inline-flex; 
    color: #92140C; 
    background-color: #1E1E24; 
    justify-content: space-evenly;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #fff8f0;
}

.head-wrapper div {
    display: flex;
}

.head-wrapper label {
    position: relative; 
    top: 32px;
}

.head-wrapper label input {
    background-color: #FFF8F0;
    color: #92140C;
    outline-color: #92140C;
}