.grid-container {
  display: grid;
  grid-template-columns: 15rem 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
    'sideBar searchBar searchBar searchBar'
    'sideBar posts posts posts';
  gap: 1px;
  background-color: #92140c;
  transition: grid-template-columns 0.3s ease;
  width: 100%;
  overflow-x: hidden;
}

.sb-collapse {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
    'sideBar searchBar searchBar searchBar'
    'sideBar posts posts posts';
  gap: 1px;
  background-color: #92140c;
  grid-template-columns: 0rem 1fr;
  transition: grid-template-columns 0.3s ease;
  width: 100%;
  overflow-x: hidden;
}